<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https: //fonts.googleapis.com/css2? familia = Roboto y display = swap "rel =" stylesheet ">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
        <div class="topnav">
                <input type="text" placeholder="Buscar productos, marcas"> <span class="busqueda"><i class="fas fa-search"></i> </span>
        </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                compra en cuotas y sin tarjeta de credito</h2>

        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-nav-bar">
                <li><div><a href="#ofertas">Ofertas</a></div></li>
                <li><div><a href="#tiendasoficiales">Tiendas Oficiales</a></div></li>
                <li><div><a href="#vender">Vender</a></div></li>
                <li><div><a href="#ayuda">Ayuda</a></div></li>
            </ul>
        
            <ul class="right-nav-bar">
                <li><div><a href="/formulario">Crea tu cuenta <i class="far fa-id-card"></i></a></div></li>
                <li> <div><a href="#ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></div></li>
                <li><div><a href="#miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></div></li>
            </ul>
        </nav>
    </header>
<div><img src="/images/img-home-banner.jpg" alt="" width="100%"></div>
<main>
    <header>
        <h2 class="titulares">Basado en tu ultima visita</h2>
    </header>
    <section>
        
    <article>
        <div><img src="/images/img-cafetera-moulinex.jpg" width="100%" alt=""></div>  
        <div class="descripcion">
            <div><i class="fas fa-shipping-fast"></i></div>
        <div class="pd"><p class="precios">$6.770</p> 
            <p class="descuentos">40% OFF</p> 
        </div>
        <p class="descripciones">Cafetera Moulinex</p>
        </div>    
    </article >
    <article class="articulo2">
        <div><img src="/images/img-macbook-pro-2019.jpg" width="100%" alt=""> </div>
        <div class="descripcion"><i class="fas fa-shipping-fast"></i>
            <p class="precios">$230.000</p> 
            <p class="descuentos">20% OFF</p> 
            <p class="descripciones">MacBook Pro 2019</p></div>   
    </article>
    <article class="articulo3">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">  
        <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
        <p class="precios">$70.500</p> 
        <p class="descuentos">10% OFF</p> 
        <p class="descripciones">Samsung galaxy S10</p></div>
    </article>
    <article class="articulo4">
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt=""> 
        <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
        <p class="precios">$23.200</p> 
        <p class="descuentos">5% OFF</p> 
        <p class="descripciones">Smart TV Samsung 43"</p></div>
    </article>
    </section>
    <header>
        <h2 class="titulares">Sección de Ofertas</h2>
    </header>
    <section>
        
        <article>
            <div><img src="/images/img-cafetera-moulinex.jpg" width="100%" alt=""></div>  
            <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
            <p class="precios">$6.770</p> 
            <p class="descuentos">40% OFF</p> 
            <p class="descripciones">Cafetera Moulinex</p></div>    
        </article >
        <article class="articulo2">
            <div><img src="/images/img-macbook-pro-2019.jpg" width="100%" alt=""> </div>
            <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
                <p class="precios">$230.000</p> 
                <p class="descuentos">20% OFF</p> 
                <p class="descripciones">MacBook Pro 2019</p></div>   
        </article>
        <article class="articulo3">
            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">  
            <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
            <p class="precios">$70.500</p> 
            <p class="descuentos">10% OFF</p> 
            <p class="descripciones">Samsung galaxy S10</p></div>
        </article>
        <article class="articulo4">
            <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt=""> 
            <div class="descripcion"><span class="envio"><i class="fas fa-shipping-fast"></i></span>
            <p class="precios">$23.200</p> 
            <p class="descuentos">5% OFF</p> 
            <p class="descripciones">Smart TV Samsung 43"</p></div>
        </article>
    </section>
  <footer>
      <ul type:dash>      <div class="icono"><i class="fas fa-credit-card"></i></div>
            <li><div><b>Paga con Tarjeta o en efectivo</b></div></li>
                <div class="texto"><p>Con MercadoLibreCash tenés cuotas sin</p>
                    <p>interes con tarjeta o efectivo en puntos de</p>
                    <p>pago. ¡Y siempre es seguro!</p></div>
                <div class="icono"><i class="fas fa-gift"></i></div>
            <li><div><b>Envio gratis desde los $2.500</b></div></li>
                <div class="texto"><p>Solo por estar registrado en Mercado Libre</p>
                    <p>tenés envios gratis en miles de procutos.Es</p>
                    <p>un beneficio de Mercado Puntos.</p></div>
                <div class="icono"><i class="fas fa-user-shield"></i></div>
            <li><div><b>Seguridad de principio a fin</b></div></li> 
                <div class="texto"><p>¿No te gusta?¡Devolvelo! En Mercado Libre</p>
                    <p>no hay nada que no puedas hacer porque estás</p>
                    <p>siempre protegid@</p> </div>  
                <br>
                <p>Copyright 1999-2020 Mercado Libre S.R.L</p>
      </ul>
  </footer>  
</main>  
</body>
</html>