<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <section>
        <h3>¡Iniciá sesion y comenza a comprar!</h3>
    
        <div class="container">
            <form action="/login" method="post">
                <p>
                    <label class="email" for="email" ></label> 
                    <input class="barras" type="email" name="email" id="email" placeholder="Email/Usuario" required>
                </p>
                <p>
                    <label class="text" for="contraseña"></label>
                    <input class="barras" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                </p>
                <p> 
                     <button type="submit" class="enter-button">Entrar</button>
                </p>
                <p>
                    <a class="text" href="#">¿Olvidaste tu contraseña?</a>
                </p>
            </form>
        </div>
    </section>
</body>
</html>